@import "../base";

 /*HISTORY*/
 #history {
    @include sliding-effect10s();
    width: 100%;   
    margin-bottom: 1em;
    #date{
        @include flex-col();
        margin: .5em;
        #time{
            font-size: 1.5em;
            font-weight: 600;
        }
        #full-date{
            font-size: .75em;
            font-weight: 600;
        }
        #day{
            font-size: 1em;
           
        }
    }
    
    
    #days {
        @include flex-col();
        margin: 1rem;
        padding: .5rem;
        .days-day {
            @include flex-row();
            width: 60%;
            justify-content: space-between;
            
            .day {
                
            }
            .daily-burn{
                @include flex-row();
                .p-1{
                    height: .5rem;
                    width: .5rem;
                    margin: 0;
                 }
            }
        }
    }            
    
}