@import "../../node_modules/react-vis/dist/styles/plot.scss";
@import "../base";

.chart{
    @include flex-col();
    padding: 1em;
    justify-content: space-around;
    .tooltips{
        @include flex-col();
        align-items: baseline;
        margin: 1em;
    }
    .chart{
       //
    }
    
}