@import "../base";

.kan-ban{
    @include flex-col();
    height: 10px;
    background-color: #fbff00;
    width: 100vw;
    margin: 1em;
    transition: height 2s;
    overflow: hidden;
}

.stretch-in{
    // height: 70vw;
}