@import '../../base';

.summary-wrapper{
    @include flex();
    flex-flow: column;
    justify-content: flex-start;
    width: 400px;
    padding: .5em;
    
}

.summary-wrapper .MuiList-root{
    width: 100%;
    background-color: #9a9a9a23;
    margin: 1px;
    padding: 5px;
    @include flex();
    justify-content: space-between;
}