@import "../../base";

/*progress */
@keyframes heightTop {
    0%{height: 1%;width: 1%; background-color: black;}
    100%{height: 100%; width: 100%; background-color: rgb(219, 60, 60);}
}

#progress-bar{
    @include flex();
    color: $color_2;
    
    margin: 0;
    
    .MuiLinearProgress-root{
        height: 5px;
        width: 200px;
        margin: 1em;
    }
    .MuiLinearProgress-colorPrimary{
    background-color: black;
    }
    .MuiLinearProgress-barColorPrimary{
        background-color: $color_2;
    }
}







