$color_1: #002329;
$color_2: rgb(225, 0, 255);
$done: rgb(225, 0, 255);

@keyframes righttoleft{
    0%   {width:0; height: 0;}
    100% {width: 100%; height: 100%;}
  }

@mixin sliding-effect{
    animation: righttoleft 1s;
  }
  
@mixin sliding-effect10s{
    animation: righttoleft 6s;
  }


@mixin flex-col{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
@mixin flex-row{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }