$primary-color: #29180e;
$primary-color-1: #29180e60;
$primary-color-2: #29180eb6;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


body{
    @include flex();
    width: 98vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.294);
}
