@import "./base";

.display-none{
    display: none;
}



.MuiToolbar-regular{
    background-color: $color_1;
   
    @include flex-row;
    justify-content: space-around;
    color: $color_2;
    font-weight: 600;

    .MuiIconButton-root{
        color: $color_2;
    }
}



    



.App {
    
    @include flex-row();
    flex-wrap: wrap;
    width: 100vw;
    .MuiButton-outlinedPrimary{
        color: $color_2;
    }
    .App-header {
        @include flex-row();
        justify-content: space-between;
        position: fixed;
        top: 0;
        min-height: 5rem;
        background-color: $color_1;
        color: $color_2;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1em;
        z-index: 1;
    }  
    .main-app-wrapper{
        @include flex-col(); 
        justify-content: space-around;
        width: 100vw;
        margin-top: 5rem;
        padding: 1rem;  
        .table-min-data-display{
            @include flex-row();
            flex-wrap: wrap;
            width: 90vw;
            // height: 80vh;
            padding: 1em;
            border-radius: 20px;
            border: 1px solid $color_2;
        }      
  
     
    }
}





@media screen and (min-width: 600px)  {
    
    
    
}
  
  
  
   

