.flex-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.table-header button {
    color: #f60;
}

.App {
    
}

.App-header {
    position: fixed;
    top: 0;
    min-height: 5rem;
    background-color: rgb(55, 0, 77);
    color: rgb(255, 102, 0);
    font-size: 1.5rem;
    font-weight: 500;
    width: 100vw;
    z-index: 1;
}

.main-app-wrapper{
    position: relative;    
    top: 3rem;
    padding: 1rem;
}

.table-wrapper{  
    margin-right: 1rem;  
    
}


.pomodoro-table{
    flex-wrap: wrap;    
    justify-content: flex-start;
    padding: 1rem;   
}

.table-header{
    width: 100%;
    margin: .5rem;
    height: 5vh;
    padding: .5rem;
    justify-content: space-between;
}


/*progress */

#progress-bar{
    margin: 1rem;
    width: 90%;    
}

#progress-bar .MuiLinearProgress-colorPrimary{
    background-color: rgb(255, 255, 255);
    height: .5rem;
}

#progress-bar .MuiLinearProgress-colorSecondary{
    background-color: rgb(255, 255, 255);
    height: .5rem;
}

#progress-bar .MuiLinearProgress-barColorPrimary {
    background-color: #f60;
}

#progress-bar .MuiLinearProgress-barColorSecondary {
    background-color: maroon;
}
/* cell */
.p-1{
    width: 70px;
    height: 70px;
    margin: .5rem;
    font-size: 1rem;    
}

.p-1:hover {
    cursor: pointer;
}

.p-1 p{
    display: inline-block;
}

.p-1-disabled{
    pointer-events: none;
    background-color: rgba(128, 128, 128, 0.425);
}

/*pomodoro */

.pomodoro {
    align-items: baseline;
}

/* stats table */
.stats-wrapper{    
   
    
}

.stats-item {
    margin: .125rem;
    padding: .5rem;
}

.stats-item-header{
    padding: .5rem;
}

#dashboard{
    width: 100%;
    padding: 1rem;
    font-weight: 400;
}

#table-settings{
    
   
}

/*HISTORY*/

#history {
    
    
}

#date{
   align-items: baseline;
   margin: 1rem;
   
}

#full-date{
    font-size: .75rem;
}

#days {
    align-items: baseline;
    margin: 1rem;
    padding: .5rem;
   
   
}

#days-day {
    width: 100%;
    justify-content: space-between;
    
}

.daily-burnout{
    
}

.daily-burnout .p-1{
   height: .5rem;
   width: .5rem;
   margin: 0;
}

.day {

}

/*dataviz*/

#dataviz{
    
    
}


/*kanban */
#kanban{
    margin: 1rem ;
    width: 100vw;
    height: 30vh;
    background-color: rgba(255, 102, 0, 0.267);
    font-size: 3rem;
}

@media screen and (min-width: 600px)  {
    .table-wrapper{
        max-width: 50vw;
    }
    .main-app-wrapper{
       
    }
    
    .stats-wrapper{
        min-width: 40vw;
    }
}

@media screen and (max-width: 600px)  {
    .flex-row{
       flex-wrap: wrap;
    }
    .p-1{
        width: 50px;
        height: 50px;
    }
    .table-wrapper{
        min-width: 90vw;
        margin-bottom: 1rem;
    }
    .stats-wrapper{
        min-width: 90vw;
    }
}
