@import "./base";

.pomodoro-table{
    @include flex-col();
    width: 40vw;
    overflow: hidden;
    
    
    
    .MuiToolbar-regular{
       width: 100%;
    }
   
    
}

@media screen and (max-width: 600px)  {
    
    .pomodoro-table{
     
    }
}