@import "./base";

/*progress */

#progress-bar{
    @include flex-col;
    color: $color_2;
    height: 6em;
    margin: 1em;
    .MuiLinearProgress-root{
        height: 5px;
        width: 100%;
        margin: 1em;
    }
    .MuiLinearProgress-colorPrimary{
    background-color: black;
    }
    .MuiLinearProgress-barColorPrimary{
        background-color: $color_2;
    }
}







