@import "./base";

.pomodoro-table{
    @include flex-col();
    width: 100%;
    overflow: hidden;  
   
    .cells{
        @include flex-row();
        flex-wrap: wrap;
        width: 60%;
        overflow: hidden;  
    }      
            
  
   
    
}

