@import "../../base";

.pomodoro-table{
    @include flex();
    width: 400px;
    height: 250px;
    overflow: hidden;  
    margin: 1.5em;
   
    .cells{
        @include flex();
        flex-wrap: wrap;
        overflow: hidden;  
    }     
    
}

